input {
  width: 50px;
}

div {
  margin-left: 60px;
  background-color: aquamarine;
  width: 90px;
  border-radius: 3px;
  border-color: blueviolet;
}

img {
    width: 20%;
    height: 20%
}

#ser {
    display:none;
}