.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #comments-container {
    margin-bottom: 20px;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #01a969;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0d5b02;
  }